.main{
    margin-top: 50px;
    border: 1px solid #EEEEEE;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}

.visor{
   width: 80%;
   height: 40px;
   padding:2px;
   border: solid 0.5px #BDBDBD;
   margin: 0 auto;
}

.botoes{
    padding: 15px;
}

.botoes .btn{
    margin: 4px;
}

.master{
    margin-top: 50px;
    border: 1px solid #EEEEEE;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}

.calc{
    width: 70%;
    padding: 5px;
    
}
.calc .btn{
    margin: 5px 0px 5px 20px;
    cursor: pointer;
}

.master #visor{
    width: 90%;
    height: 40px;
    padding:5px;
    border: solid 0.5px #BDBDBD;
    margin: 0 auto;
    text-align: right;
    color:black;
 }
 
 .divider{
     width: 92%;
     float: right;
     height: 45px;
     border-radius: 5px;
 }